.driversOrders {
    margin-top: 100px;
    .orders-table {
        img {
            height: 100px;
            width: 100px;
        }
    }
    .row {
        padding: 50px;
    }
    .line {
        border-top: 3px solid silver;
    }
}