.myProfile-index {
    margin-top: 100px;
    .customer-data,
    .add-deliveryAddress {
        margin-bottom: 100px;
        form {
            border: 1px solid grey;
            padding: 10px;
        }
    }
}