.order-goToResearch {
    margin-top: 70px;
    .header {
        background-color: black;
        width: 100%;
        padding: 50px;
        h2 {
            color: $mainColor;
            border-bottom: 5px solid $mainColor;
            width: 90%;
        }
        label {
            color: wheat
        }
        input {
            border: none;
            background: none;
            outline: none;
            border-bottom: 1px solid $mainColor;
            background-color: black;
            color: wheat;
            font-size: 18px;
            margin-bottom: 10px;
            width: 90%;
            margin-left: 5px;
            -webkit-appearance: none;
        }
        .btn {
            width: 90%;
            margin-left: 5px;
        }
    }
    .body {
        margin-top: 10px;
        padding: 50px;
        min-height: 300px;
    }
}