.order-goToResearch {
    .card {
        margin: auto;
        margin-top: 100px;
        .card-body {
            .card-title {
                border-bottom: 3px solid gray;
            }
            .card-subtitle {
                margin-top: 10px;
            }
            .blockquote-footer {
                margin-top: 20px;
            }
            input {
                border: none;
                border-bottom: 1px solid gray;
            }
        }
    }
    .line {
        margin-top: 50px;
        border-bottom: 1px solid $mainColor;
    }
    .body {
        margin-top: 10px;
        padding: 50px;
        min-height: 300px;
    }
}